body, ul {
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: rgb(232, 123, 123); 
  padding: 15px 15px; 

}

.container {
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff; 
  text-decoration: none; 
  font-size: 24px; 
  font-weight: bold; 
}

.nav-links {
  list-style-type: none; 
}

.nav-links li {
  display: inline-block; 
  margin-left: 20px; 
}

.nav-links li a {
  color: #fff; 
  text-decoration: none; 
}

.nav-links li a:hover {
  text-decoration: underline; 
}
